<li class='clearfix record icons' id="<%= dom_id(page_position) -%>">
  <div class='clearfix'>
    <span class='title'>
      <%= "#{page_position.label} | #{page_position.custom_url}" %>
    </span>
  </div>
</li>