.bundle

# Ignore setup tests files
spec/dummy/
coverage/
.rspec

# Ignore gem configuration files
pkg/
.rvmrc

# Ignore wiki files
wiki/

# Other stuff
.idea/
.bundle/config
.DS_Store

# Binstubs
bin
