<div id='pp-select-container' class='clearfix'>
	<%= render 'form_actions' %>

  <%= render 'form' %>
</div>

<%= render '/refinery/admin/make_sortable', :tree => true %>

<% content_for :stylesheets, stylesheet_link_tag('refinery/select_form') %>
<% content_for :javascripts, javascript_include_tag('refinery/backend.js') %>
