.select{
  height: 397px;
  width: 100%;
}

.select_from{
  display:block;
  float:left;
  width: 100%;
}

.select_to{
  display:block;
  float:left; 
  width: 100%;
}

.select_buttons {
  display:inline-block;
  float:left;
  text-align:right;
  padding-top: 180px;
  width: 36px;
}
