.select_from{
  display:block;
  float:left;
  width: 100%;
}

.select_to{
  display:block;
  float:left; 
  width: 100%;
}

.select_buttons {
  display:inline-block;
  float:left;
  text-align:right;
  padding-top: 180px;
  width: 36px;
}


.pp-add-box {
  background: #aaa;
  margin-top: 20px;
  width: 220px;
  padding: 15px;

  h3 {
    margin-top: 0;
  }

  input[type='text'] {
    width: 210px;
  }

  .pp-selection-box {
    background: white;
    max-height: 140px;
    padding: 10px;
    overflow-y: scroll;
  }
}

#content a.button.add_link {
  margin-top: 15px;
}

#left_actions {
  float: left;
}

#links_container {
  float: left;
  margin: 20px 0 0 20px;
  padding: 15px;
  background: #eee;
  width: 660px;
  min-height: 400px;
}
