.select_from{
  display:block;
  float:left;
  width: 100%;
}

.select_to{
  display:block;
  float:left; 
  width: 100%;
}

.select_buttons {
  display:inline-block;
  float:left;
  text-align:right;
  padding-top: 180px;
  width: 36px;
}


.pp-add-box {
  background: #aaa;
  margin-top: 20px;
  width: 220px;
  padding: 15px;

  h3 {
    margin-top: 0;
  }

  input[type='text'] {
    width: 210px;
  }

  .pp-selection-box {
    background: white;
    max-height: 140px;
    padding: 10px;
    overflow-y: scroll;
  }
}

#content a.button.add_link {
  margin-top: 15px;
}

#left_actions {
  float: left;
}

#links_container {
  float: left;
  margin: 20px 0 0 20px;
  padding: 20px;
  background: #eee;
  width: 650px;
  min-height: 400px;
}

.pp-link {
  position: relative;
  margin-bottom: 10px;

  .header {
    height: 20px;
    line-height: 20px;
    padding: 8px;
    background: #c3e1ff;
    cursor: pointer;

    &:hover {
      background: #add6ff;
    }

    .type {
      position: absolute;
      top: 8px;
      right: 30px;
    }

    .arrow {
      background-repeat: no-repeat;
      background-image: url(/assets/refinery/icons/down.gif);
      position: absolute;
      right: 10px;
      top: 16px;
      width: 11px;
      height: 7px;
      cursor: pointer;
    }
  }

  .body {
    display: none;
    background: #dbedff;
    padding: 15px;
    height: 100px;

    label {
      display: inline-block;
      margin-right: 10px;
      margin-top: 0;
      width: 100px;
      text-align: right;
    }

    input {
      width: 250px;
    }
  }
}
