<div id='pp-select-container' class='clearfix'>
	<%= render 'form_actions' %>

  <%= render 'form' %>
</div>

<%= render '/refinery/admin/make_sortable', :update_url => refinery.update_positions_admin_page_menu_page_positions_path(@page_menu.id || 0), :tree => true%>

<%= render '/refinery/admin/sortable_list', :continue_reordering => !!local_assigns[:continue_reordering] %>


<% content_for :stylesheets, stylesheet_link_tag('refinery/select_form') %>
<% content_for :javascripts, javascript_include_tag('refinery/backend.js') %>
